<nav class="head">
    <aside><a href="/">Book Store</a></aside>

    <ul>
        <li><a href="/">Books</a></li>
        <li><a href="/books/create">New Book</a></li>
        <li><a href="/about">About Us</a></li>
    </ul>
</nav>