<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="content about">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui quasi accusamus perferendis culpa totam ratione
            harum velit obcaecati id nulla. Omnis consequatur, alias ipsam incidunt beatae amet architecto nam
            veritatis.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam omnis rem amet tenetur, atque cumque quod
            odio aut! Soluta dolore illo mollitia vel laudantium deleniti eos eligendi numquam illum dolores?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet deserunt consequuntur quia ut sequi laudantium
            est asperiores cumque nihil voluptatem atque soluta labore optio eos, cupiditate, incidunt vero, maiores
            perspiciatis!</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>

</html>