<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="content not_found">
        <h2>PAGE NOT FOUND!</h2>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>

</html>